/**************************************************
En este archivo definiré las variables para la web.
***************************************************/
/*Fuentes*/
$fuente-principal: "Arial";
$fuente-secundaria: "Verdana";

/*Tipografias*/
$tipografia-general: "Arial", sans-serif;
$tipografia-alternativa: "Times New Roman", serif;

/*Colores*/
$color-principal: rgb(255, 255, 255);
$color-secundario: rgb(167, 158, 158);
$color-negro: rgb(0, 0, 0);
